---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
import AboutUs from '../components/AboutUs.astro';
import Services from '../components/Services.astro';
import Footer from '../components/Footer.astro';
import Gallery from '../components/Gallery.astro';
---

<Layout link={{ servicios: '#services', contacto: '/contact', nosotros: '#aboutus', galeria: '#gallery'}} title="Electrofrío - Aire Acondicionado, Climatización y Electromecánica" description="Encontrá el mejor servicio para instalaciones de climatización y electricidad. Ofrecemos Aires Acondicionados con instalación. Split, VRF y más.">
	<main>
		<Intro />
		<AboutUs />
		<Services />
		<Gallery/>
	</main>
	<Footer />
</Layout>

<style>
	
</style>
