---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
import AboutUs from '../components/AboutUs.astro';
import OurClients from '../components/OurClients.astro';
import Services from '../components/Services.astro';
import Recommended from '../components/Recommended.astro';
import PreFooter from '../components/PreFooter.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Electrofrío - Soluciones de Climatización y Electromecánica" description="Encontrá el mejor servicio para instalaciones de equipos de climatización y electricidad para hogares y empresas. Ofrecemos una gran gama de productos de climatización para cubrir sus necesidades.">
	<Intro />
	<main>
		<AboutUs />
		<OurClients />
		<Services />
		<Recommended />
		<PreFooter />
	</main>
	<Footer />
</Layout>

<style>
	
</style>
