<section class="flex flex-row-reverse gap-4 w-full max-w-[1300px] mx-auto items-center h-screen" id="aboutus">
    <div class="flex gap-4 flex-col">
        <h2 class="font-bold text-5xl">
            ¿Quiénes somos?
        </h2>
        <p class="max-w-[600px] text-pretty text-left text-xl" >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas eum repellendus at nemo eaque suscipit vero quaerat doloribus inventore tempore iste pariatur ipsa necessitatibus consequatur, quo beatae velit deleniti autem!
        </p>
        <p class="max-w-[600px] text-pretty text-left text-xl">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum laboriosam nihil dignissimos, omnis, fugiat minus, velit quod repellendus temporibus recusandae nam debitis? Dolorum, rem! Nostrum eos libero commodi veritatis.
        </p>
    </div>
    <div class="flex-grow">
        <img src="./imagen-intro1.webp" alt="aire" width="600px" height="600px" class="object-cover hover:scale-105 transition-transform ease-linear rounded-lg">
    </div>
</section>