---
const { title, description, linkTo } = Astro.props
---
<div class="md:w-[400px] md:h-[330px] w-[300px] h-auto p-6 border border-gray-100 rounded-lg shadow-lg shadow-black/25 gap-2 flex flex-col hover:scale-105 transition-transform ease-linear">
    <h3 class="text-balance font-extrabold text-blue-600 md:text-3xl text-2xl">
            {title}
    </h3>
    <p class="text-pretty text-sm md:text-base">
            {description}
    </p>
    <a href={linkTo} class="p-4 bg-blue-600 rounded-lg text-white font-semibold uppercase hover:bg-blue-700 transition-colors ease-linear mt-10 md:w-[110px] w-auto">
            Ver más
    </a>
</div>   