---
import Whatsapp from '../icons/Whatsapp.astro'
---

<footer class="w-full h-[76px] bg-slate-100 border-slate-400 border-t">
    <div class="flex justify-between items-center p-6 text-black max-w-[1300px] mx-auto ">
        <span>
            © Copyright Electrofrio 2024 
        </span>
        <div class="flex gap-2">
            <a href="
            https://wa.link/e2l6qe" target="_blank">
                <Whatsapp />
            </a>
            <span>+595 994 151009</span>
        </div>
    </div>
</footer>