---

---

<header id="header-nav" class="fixed top-0 w-full px-6 py-4 z-50 bg-white border-slate-400 border-b">
    <div class="flex items-center justify-between mx-auto max-w-[1300px]">
        <a href="/">
            <img src="./Logo.svg" alt="Logo" class="h-12 ">
        </a>
        <nav class="">
            <ul class="flex gap-8 font-semibold items-center">
                <li class="">
                    <a href="#aboutus" class="hover:text-blue-700 transition-colors ease-linear">Quiénes Somos</a>
                </li>
                <li>
                    <a href="#services" class="hover:text-blue-700  transition-colors ease-linear">Servicios</a>
                </li>
                <li>
                    <a href="#products" class="hover:text-blue-700  transition-colors ease-linear">Productos</a>
                </li>
                <li class="bg-blue-700 p-2 rounded-2xl cursor-pointer hover:bg-blue-600 transition-all ease-linear text-white">
                    <a href="#contact" class="">Contacto</a>
                </li>
            </ul>
        </nav>
    </div>
</header>