<div class="md:flex items-center justify-between mx-auto max-w-[1300px] hidden">
    <a href="/">
        <img src="./Logo.svg" alt="Logo" class="h-12 ">
    </a>
    <nav class="">
        <ul class="flex gap-6 font-semibold items-center md:gap-8">
            <li class="">
                <a href="#aboutus" class="hover:text-blue-700 transition-colors ease-linear">Quiénes Somos</a>
            </li>
            <li>
                <a href="#services" class="hover:text-blue-700  transition-colors ease-linear">Servicios</a>
            </li>
            <li>
                <a href="#gallery" class="hover:text-blue-700  transition-colors ease-linear">Galería</a>
            </li>
            <li class="bg-blue-700 p-2 rounded-2xl cursor-pointer hover:bg-blue-600 transition-all ease-linear text-white">
                <a href="#contact" class="">Contacto</a>
            </li>
        </ul>
    </nav>
</div>