---
const { nosotros, servicios, galeria, contacto } = Astro.props
---

<div class="flex flex-col items-center sm:hidden md:hidden lg:hidden">
    <a href="/" class="">
        <img src="/Logo.svg" alt="Logo" class="h-10">
    </a>
    <nav class="mt-2">
        <ul class="flex gap-4 font-semibold items-center text-sm">
            <li class="">
                <a href={nosotros} class="hover:text-blue-700 transition-colors ease-linear">Nosotros</a>
            </li>
            <li>
                <a href={servicios} class="hover:text-blue-700  transition-colors ease-linear">Servicios</a>
            </li>
            <li>
                <a href={galeria} class="hover:text-blue-700  transition-colors ease-linear">Galería</a>
            </li>
            <li class="bg-blue-700 p-2 rounded-2xl cursor-pointer hover:bg-blue-600 transition-all ease-linear text-white">
                <a href={contacto} class="">Contacto</a>
            </li>
        </ul>
    </nav>
</div>