<header id="header-nav" class="fixed top-0 w-full px-6 py-4 z-50 bg-gray-200">
    <div class="flex flex-wrap items-center justify-between mx-auto max-w-[1300px]">
        <a href="/">
            <img src="./Logo.svg" alt="Logo" class="h-12 ">
        </a>
        <nav class="">
            <ul class="flex gap-8 font-semibold">
                <li class="">
                    <a href="#aboutus" class="hover:text-blue-700">Quienes Somos</a>
                </li>
                <li>
                    <a href="#services" class="hover:text-blue-700 ">Servicios</a>
                </li>
                <li>
                    <a href="#products" class="hover:text-blue-700 ">Productos</a>
                </li>
                <li>
                    <a href="#contact" class="hover:text-blue-700 ">Contacto</a>
                </li>
            </ul>
        </nav>
    </div>
</header>