<section class="flex w-full max-w-[1300px] mx-auto mt-[80px] h-screen">
    <div class="mt-52 flex flex-col gap-8 max-w-[700px]">
        <h1 class="text-balance text-6xl font-semibold animate-fade-up duration-75">
            Servicio profesional para hogares e industrias
        </h1>
        <p class="text-pretty text-base max-w-[600px] animate-fade-up duration-75">
            Brindamos soluciones en Climatización y Electricidad. Más de 30 años en el mercado trabajando con las últimas tecnologías.
        </p>
        <a href="#" class="p-2 rounded-xl border border-blue-600 w-56 font-semibold text-center text-blue-700 hover:text-white hover:bg-blue-700 transition-colors ease-linear capitalize animate-fade-up duration-75">
            Ver más
        </a>
    </div>
    <div class="mt-52 flex-grow animate-fade-up duration-75">
        <img src="./aire1.svg" alt="banner-aire" height="600px" width="600px">
    </div>
</section>