<section class="flex top-16 bg-slate-200 w-full justify-center">
    <div class="mt-44 max-w-[1300px] justify-center flex flex-col gap-8">
        <h1 class="text-balance text-7xl font-semibold ">
            El mejor servicio de Aire Acondicionado del País
        </h1>
        <a href="#" class="p-2 rounded-xl border border-blue-600 w-56 font-semibold text-center hover:text-white hover:bg-blue-700 transition-colors ease-in-out">
            Solicitá un Presupuesto
        </a>
    </div>
</section>