---
import Check from "../icons/Check.astro";
const { desc } = Astro.props
---

<div class="gap-2 md:items-center md:justify-start flex text-center justify-center">
    <Check width="25" height="25" color="rgb(37 99 235)" />
    {desc}
</div>