---
import CardItem from "./CardItem.astro";
---

<section class="flex w-full max-w-[1300px] mx-auto justify-center md:h-screen h-auto" id="services">
    <div class="flex flex-col gap-6 items-center mt-32 md:mt-28">
        <h2 class="text-lg md:text-4xl font-bold text-center uppercase">
            Nuestros servicios
        </h2>
        <div class="w-auto grid grid-cols md:grid-cols-2 md:grid-rows-2 lg:grid-cols-2 lg:grid-rows-2 gap-4">
            <CardItem title="Instalación doméstica" description="Ofrecemos instalaciones domésticas de sistemas Eléctricos y de Aire Acondicionado." linkTo="/contact" />
            <CardItem title="Instalación Industrial" description="Te presupuestamos la mano de obra con o sin provisión de equipos para tu edificio, conta con nosotros para asegurar calidad en tus proyectos eléctricos o de climatización." linkTo="/contact" />
            <CardItem title="Mantenimientos" description="Contamos con servicios de mantenimiento preventivo y correctivo a demanda como así también contamos con planes mensuales personalizados para tus sistemas de eléctricos y de climatización." linkTo="/contact" />
            <CardItem title="Proyectos" description="Si buscas confiabilidad en tus proyectos, contá con nosotros, nos encargamos de proyectar toda la obra y la ejecutamos con la mayor inmediatez." linkTo="/contact" />
        </div>
    </div>
</section>