<section class="flex w-full max-w-[1300px] mx-auto justify-center h-screen" id="services">
    <div class="mt-56">
        <h2 class="text-5xl font-bold">
            Nuestros servicios
        </h2>
    </div>
</section>