---
import CardItem from "./CardItem.astro";
---

<section class="flex w-full max-w-[1300px] mx-auto justify-center h-screen" id="services">
    <div class="flex flex-col gap-6 items-center mt-28">
        <h2 class="text-5xl font-bold">
            Nuestros servicios
        </h2>
        <div class="max-w-[1300px] w-auto grid grid-cols-2 grid-rows-2 gap-4">
            <CardItem title="Mantenimiento de Aire Acondicionado" description="Contamos con los mejores profesionales en el area. Realizamos mantenimiento preventivo y correctivo para los equipos que necesites." linkTo="#more" />
            <CardItem title="Mantenimiento de Aire Acondicionado" description="Contamos con los mejores profesionales en el area. Realizamos mantenimiento preventivo y correctivo para los equipos que necesites." linkTo="#more" />
            <CardItem title="Mantenimiento de Aire Acondicionado" description="Contamos con los mejores profesionales en el area. Realizamos mantenimiento preventivo y correctivo para los equipos que necesites." linkTo="#more" />
            <CardItem title="Mantenimiento de Aire Acondicionado" description="Contamos con los mejores profesionales en el area. Realizamos mantenimiento preventivo y correctivo para los equipos que necesites." linkTo="#more" />
        </div>
    </div>
</section>