---
import Header from '../components/Header.astro';
import '@fontsource-variable/montserrat';

interface Props {
	description: string;
	title: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon-blanco.svg" />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	:root {
	}
	html {
		font-family: 'Montserrat Variable',system-ui, sans-serif;
		background-size: 224px;
		background-color: white;
		scroll-behavior: smooth;
	}
	h1 {
		color: rgb(40, 69, 150);
	}
	h2 {
		color: rgb(40, 69, 150);
	}

</style>
